<article class="story">
  <div class="align-author-img">
    <div class="author">
      <h3>{{@story.author}}, Developer since {{@story.year}}</h3>
      </div>
      <Story::Image src={{@story.image}} alt="Profile picture of {{@story.author}}" />
  </div>
  <div class="testimony">
    <ul>
      {{#each @story.testimony as |testimony|}}
        <p class="sub-header">{{testimony.title}}</p>
        <p class="content">{{testimony.content}}</p>
      {{/each}}
    </ul>
  </div>
</article>
