<form action="https://formspree.io/xqklrdbr" method="POST">

<div class="form-container">
  <h1>Share your story!</h1>
  <div class="card-two-elements">
    <div class="name-input">
      <label for="name">Your name</label>
      <Input id="name" name="name" type="text" />
    </div>

    <div class="input">
      <label for="year">What year did you start as a developer?</label>
      <Input id="year" type="number" name="year" />
    </div>
  </div>

  <div class="card-two-elements">
    <div class="email-input">
      <label for="email">Your email</label>
      <div class="label-description" style="font-style: italic; font-size: 12px">To contact you once your testimony is
        released! It will never be shared to other users.</div>
      <Input id="email" type="email" name="email" />
    </div>

    <div class="upload-input">
      <label for="picture">Add a picture or an avatar</label>
      <div class="uploader-button">
        <Input type="hidden" name="image" role="uploadcare-uploader"
          data-tabs="file camera url facebook instagram gdrive gphotos onedrive" />
      </div>
    </div>
  </div>

  <div class="input">
    <label for="background margin-top">Tell us about your background: What were you doing before being a developer?</label>
    <textarea id="background" width="80%" name="background" />
    </div>

    <div class="input">
      <label for="interest margin-top">How did you gain interest in development?</label>
      <textarea id="interest" name="interest" />
    </div>

    <div class="input">
      <label for="learn margin-top">How did you learn programming?</label>
      <textarea id="learn" name="learn" />
    </div>

    <div class="input">
      <label for="job margin-top">How did you find your first developer role?</label>
      <textarea id="job" name="job" />
    </div>

    <div class="input">
      <label for="recommendations margin-top">What recommendations would you give to future developers?</label>
      <textarea id="recommendations" name="recommendations" />
    </div>

  <div class="toggle-consent">
    <XToggle @theme='light' @value={{this.yesContact}} @onToggle={{action (mut this.yesContact)}} />
    <div class="consent-statement">I agree/disagree to share my social media's contact on the testimony</div>
  </div>

    {{#if this.yesContact}}
      <label for="social-media">Social media</label>
      <Input name="social-media" placeholder="Linkedin, Twitter, Github, etc."></Input>
    {{/if}}

    <div class="toggle-consent">
      <XToggle @theme='light' @value={{this.emailConsent}} @onToggle={{action (mut this.emailConsent)}} />
      <div class="consent-statement">I consent to be contacted by the admin via email</div>
    </div>

    {{#if this.emailConsent}}
      <button class="btn-contact">Submit</button>
    {{else}}
      <button class="btn-contact-disabled" disabled="disabled">Submit</button>
    {{/if}}

  </div>
</form>
