{{#form-builder}}

<div class="form-container">
  <h1>Share your story!</h1>
  <div class="card-name-year">
    <div class="name-input">
      <label for="name">Your name</label>
      <Input id="name" type="text" />
    </div>

    <div class="input">
      <label for="year">What year did you start as a developer?</label>
      <Input id="year" type="number" />
    </div>
  </div>

  <div class="email-input">
    <label for="email">Your email</label>
    <div class="label-description" style="font-style: italic; font-size: 12px">To contact you once your testimony is
      released! It will never be shared to other users.</div>
    <Input id="email" type="email" />
  </div>


  <div class="input">
    <label for="background margin-top">Tell us about your background: What were you doing before being a developer?</label>
    <textarea id="background" width="80%" />
    </div>

    <div class="input">
      <label for="interest margin-top">How did you gain interest in development?</label>
      <textarea id="interest" />
    </div>

    <div class="input">
      <label for="learn margin-top">How did you learn programming?</label>
      <textarea id="learn" />
    </div>

    <div class="input">
      <label for="job margin-top">How did you find your first developer role?</label>
      <textarea id="job" />
    </div>

    <div class="input">
      <label for="recommendations margin-top">What recommendations would you give to future developers?</label>
      <textarea id="recommendations" />
    </div>

    <div class="input">
      <label for="picture">Add a picture or an avatar</label>
    </div>

    <div class="input">
      <label for="consent">I agree to be contacted by the readers:</label>
    </div>

    <div class="checkbox-contact">
      <Input type="radio" name="contacted-by-users" class="yes-contact" {{ on "click"(fn this.changeYesContent true) }}></Input>
      <label>Yes</label>
      <Input type="radio" name="contacted-by-users" class="no-contact" {{ on "click"(fn this.changeYesContent false) }}></Input>
      <label>No</label>
    </div>

    {{#if this.yesContact}}
      <label for="social-media">Social media</label>
      <Input placeholder="Linkedin, Twitter, Github, etc."></Input>
    {{/if}}

    {{!-- <Input type="checkbox" class="email-consent"
      {{ on "click"(fn this.consentToBeContacted true) }} {{ on "doubleClick"(fn this.emailContent false) }}></Input>
      <label>I consent to be contacted by the admin via email</label>

    {{#if this.emailConsent}}
      <button class="btn-contact">Submit</button>
    {{else}}
      <button class="btn-contact-disabled" value="false" disabled="disabled">Submit</button>
    {{/if}} --}}

    <XToggle @theme='material' @value={{this.emailConsent}} @onToggle={{action (mut this.emailConsent)}} /><label>I consent to be contacted by the admin via email</label>

    {{#if this.emailConsent}}
      <button class="btn-contact">Submit</button>
    {{/if}}
  </div>
{{/form-builder}}
